<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MasscombatContext" connectionString="metadata=res://*/masscombatModel.csdl|res://*/masscombatModel.ssdl|res://*/masscombatModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=thogrim.lima-db.de;user id=USER348648;password=Tinkerbell1402467@.de;database=db_348648_1;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MapContext" connectionString="metadata=res://*/MapDbModel.csdl|res://*/MapDbModel.ssdl|res://*/MapDbModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=thogrim.lima-db.de;user id=USER348648;password=Tinkerbell1402467@.de;persistsecurityinfo=True;database=db_348648_1&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>